{{page-title "Master Mind"}}

<div class="container">
    <header>
        <h1 class="page-title animate__animated animate__fadeInUp">Master Mind</h1>
    </header>

    <nav>
        <LinkTo @route="color-code" class="page-link">Kleur code</LinkTo>
        <LinkTo @route="number-code" class="page-link">Cijfer code</LinkTo>
    </nav>
    <div class="content-container">
        {{outlet}}
    </div>
</div>
