{{page-title "Master Mind"}}

<div class="container">
    <header>
        <h1 class="page-title animate__animated animate__fadeInUp">Master Mind</h1>
    </header>

    <div class="content-container">
        {{outlet}}
    </div>
</div>
